body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}
.app-security-list {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 20px;
    border: 1px solid #999;
    
}

.app-message {
    min-width: 150px;
    background-color: red;
    color: white;
    display: inline-block;
    margin: 5px;
    margin-left: 0;
    padding: 3px;
}

.app-name {
    display: inline-block;
}

.app-datetime {
    font-size: 10px;
}

.non-error {
    background-color: green;
}